{% extends "base.html" %}

{% block title %}Inject Control - {{ block.super }}{% endblock %}

{% block content %}
    <div class="grid_9 alpha">
        <div class="auth grid_4 prefix_1 alpha" id="signin">
            <h2 class="grid_4">Inject Data</h2>
            <form method="POST" id="post-form" >
                <ul>
                    {{ inject_form.as_ul }}
                </ul>
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <input type="submit" value="Inject" />
            </form>
        </div>
        <div class="auth grid_4 prefix_1 alpha" id="worker">
            <h3 class="grid_4" id="status">Waiting for Work</h3>
            <progress id='p' value='0' max='100'><span>0</span>%</progress>
        </div>
    </div>
    <script src="main.js"></script>
{% endblock %}
