{% extends "base.html" %}

{% block title %}Inject Control - {{ block.super }}{% endblock %}

{% block content %}
    <div class="grid_9 alpha">
        <div class="auth grid_4 prefix_1 alpha" id="inject-form">
            <h2 class="grid_4">Inject Data</h2>
            <form method="POST" id="post-form" >
                <ul>
                    {{ inject_form.as_ul }}
                </ul>
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <input id="inject-submit" type="submit" value="Inject" />
            </form>
            <ul class="errorlist">
                {{ form.name_of_field.errors }}
            </ul>
            <ul class="errorlist nonfield">
                {{ form.non_field_errors }}
            </ul>
        </div>
        <div class="auth grid_4 prefix_1 alpha" id="worker">
            <div class="grid_4">
                <div id="spinner"></div>
                <h3 id="status">Waiting for Work</h3>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/control.js"></script>
{% endblock %}
